@use 'ColorEnum';

.todo-item {
  & .item-input-edit {
    display: flex;
    justify-content: center;
  }

  & .item-input-edit input {
    text-align: center;
    width: 160px;
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    border: none;
    background: transparent;
    left: 75px;
    border-bottom: 2px solid ColorEnum.$light-blue;
    padding: 0 15px;
  }
  & .item-input-edit input:hover {
    cursor: pointer;
  }
}
