.todo-list {
  max-height: 60vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  & .empty-todos{
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}
