@use 'ColorEnum';

.todo-list {
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: center;

  & .empty-todos {
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: ColorEnum.$wrapper-color;
    border: 1px solid ColorEnum.$light-blue;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: ColorEnum.$light-blue;
    border-radius: 20px;
  }
}